.checkbox-button {
  position: relative;
  display: flex;
  font: 15px/20px "Fire Sans", Arial, sans-serif;
  color: $Valhalla50;

  &__content {
    display: none;
  }

  &__indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $Valhalla25;
    border-radius: 4px;
  }

  & input[type="checkbox"]:checked {

    & + .checkbox-button__indicator {
      border: 1px solid $PaleCornflowerBlue;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 7px;
        height: 5px;
        border-top: 2px solid $PaleCornflowerBlue;
        border-right: 2px solid $PaleCornflowerBlue;
        transform: rotate(135deg); 
      }
    }
  }

  &__description {
    padding-left: 28px;
    cursor: pointer;
  }
}