.checkbox-button {
  position: relative;
  display: flex;
  font-family: "Fire Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $Valhalla50;

  &_hide {
    display: none;
  }

  &__tooltip {
    display: none;
  }

  &__scale-of-values {
    display: none;
  }

  &__indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $Valhalla25;
    border-radius: 4px;
  }

  & input[type="checkbox"]:checked {

    & + .checkbox-button__indicator {
      border: 1px solid $PaleCornflowerBlue;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 7px;
        height: 5px;
        border-top: 2px solid $PaleCornflowerBlue;
        border-right: 2px solid $PaleCornflowerBlue;
        transform: rotate(135deg); 
      }
    }
  }

  &__description {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-left: 28px;
    cursor: pointer;
  }
}