.js-slider-test {
    display: block;
	position: relative;
	height: 36px;
    width: 100%;
    user-select:none;
}
.slider-touch {
    display: block;
    position: absolute;
    height: 36px;
    width: 36px;
    padding: 6px;
    z-index: 2;
}
/*.range-filter {
    width: 100%;
    margin-bottom: 5px;
}
.range {
   position: relative;
   height: 20px;
   padding: 0;
   margin: 0;
   margin-top: 15px;
}
.flipper {
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    cursor: pointer;
    top: -8px;
    z-index: 2;
    padding: 8px;
    background: no-repeat 50%;
}
.flipper.m-left {
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    left: calc(1.85185 - 8px);
}
.flipper.m-right {
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    left: calc(100% - 22px);
}
.fill {
    display: block;
    background: #b3d4fc;
    opacity: 0.3;
    position: relative;
    height: 10px;
    border-radius: 5px;
    top: 0px;
}
.fill-in {
    display: block;
    height: 3px;
    background: #9b9b9b;
    position: absolute;
    top: 0;
}*/