mixin slider(text)
    .range-filter
        .input-container
            .input-item
                .input-field
                    .label от
                    input.input(type="text")
            .input-item
                .input-field
                    .label до
                    input.input(type="text")
        .range
            .flipper.m-left
            .flipper.m-right
            .fill
                .fill-in