.radio-button {
  position: relative;
  font: 15px/20px "Fire Sans", Arial, sans-serif;
  color: $Valhalla50;

  &__content {
    display: none;
  }

  &__indicator {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid $Valhalla25;
    border-radius: 10px;
  }

  &__description {
    padding: 0 20px 0 27px;
    cursor: pointer;
  }

  & input[type="radio"]:checked {

    & + .radio-button__indicator {
      border: 1px solid $Valhalla25;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background: $PaleCornflowerBlue;
        border-radius: 10px;
      }
    }
  }
}