include ../../slider/slider.pug
include ../../elements/radio-button/radio-button.pug

doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="demo.scss")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        block content
            .slider-container
                .slider-ui
                    .tooltip
                        span.tooltiptext 0
                    +slider()
                .slider-config
                    .field-group-view
                        h2.title-field-group Вид:
                        .buttons-group
                            +radio-button('Горизонтальный', 'view', 'checked')
                            +radio-button('Вертикальный', 'view')
                    .field-group-rangeOfValues
                        h2.title-field-group Интервал значений:
                        .input-container
                            .input-item
                                .input-field
                                    .label от
                                    input.input(type="text")
                            .input-item
                                .input-field
                                    .label до
                                    input.input(type="text")
                    .field-group-numberValues
                        h2.title-field-group Количество значений:
                        input.field-group-numberValues-container__content(type='text', value='2')
                    .field-group-tooltip
                        h2.title-field-group Наличие тултипа:
                        input(type="checkbox")
                    .field-group-stepSize
                        h2.title-field-group Размер шага:
                        input.field-group-stepSize-container__content(type='text', value='1')
        block scripts