include ../../slider/slider.pug
include ../../elements/radio-button/radio-button.pug

doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="demo.scss")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        block content
            .slider-container
                .slider-ui
                    .tooltip
                        span.tooltiptext 0
                    +slider()
                    .input-container
                        .input-item
                            .input-field
                                .label от
                                input.input(type="text")
                        .input-item
                            .input-field
                                .label до
                                input.input(type="text")
                .slider-config
                    h1.title-config Панель конфигурации
                    .field-group-view
                        h2.title-field-group Вид:
                        .buttons-group
                            +radio-button('Горизонтальный', 'view', 'checked')
                            +radio-button('Вертикальный', 'view')
                    .field-group-numberValues
                        h2.title-field-group Количество значений:
                        +radio-button('Одно значение', 'numberValues')
                        +radio-button('Интервал', 'numberValues', 'checked')
                        input.field-group-numberValues-container__content(type='text', placeholder='Введите числовое значение')
                    .field-group-tooltip
                        h2.title-field-group Наличие тултипа:
                        .buttons-group
                            +radio-button('Нужен', 'tooltip', 'checked')
                            +radio-button('Не нужен', 'tooltip')
        block scripts