include ../../components/configuration-panel/configuration-panel.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="slider plugin")
        meta(name="description" content="Плагин для jQuery, который реализовывает функционал «бегунка» (также называемого слайдером) — специальный контрол, который позволяет перетягиванием задавать какое-то числовое значение.")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="demo.scss")
        link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
        link(rel='mask-icon' href="images/favicon-safari.svg" color="blue")
    body
        block content
            .slider-container
                .slider-container__wrapper
                    .slider-container__configuration-panel
                      +configuration-panel()
                    .slider-container__content
                      .slider-container__slider-test
                        .slider-test.js-slider-test
            .slider-container
                .slider-container__wrapper
                    .slider-container__configuration-panel
                      +configuration-panel()
                    .slider-container__content
                      .slider-container__slider-test
                        .slider-test.js-slider-test
            .slider-container
                .slider-container__wrapper
                    .slider-container__configuration-panel
                      +configuration-panel()
                    .slider-container__content
                      .slider-container__slider-test
                        .slider-test.js-slider-test
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="../../slider/slider.ts")
            script(src="demo.ts")