include ../../components/slider-config/slider-config.pug

doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="demo.scss")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="../../slider/slider.js")
            script(src="demo.js")
    body
        block content
            .slider-container
                .slider-ui
                    .js-slider-test
                .panel-configuration
                    +slider-config()
                .slider-ui
                    //.js-slider-test
                    //.js-slider-test
        block scripts