include ../../slider/slider.pug
include ../../elements/radio-button/radio-button.pug

doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="demo.scss")
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    body
        block content
            .slider-container
                .slider-ui
                    .tooltip
                        span.tooltiptext 0
                    +slider()
                    .input-container
                        .input-item
                            .input-field
                                .label от
                                input.input(type="text")
                        .input-item
                            .input-field
                                .label до
                                input.input(type="text")
                .slider-config
                    h1.title-config Панель конфигурации
                    .field-group-tooltip
                        h2.title-field-group-tooltip Вид
                        label.field-group-tooltip-container__filter
                            input.field-group-tooltip-container__content.visually-hidden(type='radio', name='field-group-tooltip-container__content', checked)
                            span.field-group-tooltip-container__indicator
                            span.field-group-tooltip-container__description Горизонтальный
                        label.field-group-tooltip-container__filter
                            input.rfield-group-tooltip-container__content.visually-hidden(type='radio', name='field-group-tooltip-container__content')
                            span.field-group-tooltip-container__indicator
                            span.field-group-tooltip-container__description Вертикальный
                    .field-group-numberValues
                        h2.title-field-group-numberValues Количество значений
                        label.field-group-numberValues-container__filter
                            input.field-group-numberValues-container__content.visually-hidden(type='radio', name='field-group-numberValues-container__content', checked)
                            span.field-group-numberValues-container__indicator
                            span.field-group-numberValues-container__description Одиночное значение
                        label.field-group-numberValues-container__filter
                            input.field-group-numberValues-container__content.visually-hidden(type='radio', name='field-group-numberValues-container__content')
                            span.field-group-numberValues-container__indicator
                            span.field-group-numberValues-container__description Интервал
                            input.field-group-numberValues-container__content(type='text', name='field-group-numberValues-container__content')
                    .field-group-tooltip
                        h2.title-field-group-tooltip Наличие тултипа
                        label.field-group-tooltip-container__filter
                            input.field-group-tooltip-container__content.visually-hidden(type='radio', name='field-group-tooltip-container__content', checked)
                            span.field-group-tooltip-container__indicator
                            span.field-group-tooltip-container__description Нужен
                        label.field-group-tooltip-container__filter
                            input.field-group-tooltip-container__content.visually-hidden(type='radio', name='field-group-tooltip-container__content')
                            span.field-group-tooltip-container__indicator
                            span.field-group-tooltip-container__description Не нужен
        block scripts