mixin radio-button(text, аttributeName, checked)
    label.radio-button.js-radio-button
        input.radio-button__content.visually-hidden(type="radio", name="radio-button-"+аttributeName, checked=checked || false)
        span.radio-button__indicator
        span.radio-button__description=text