mixin radio-button(text, checked)
    .radio-button-container
        label.radio-button-container__filter
            input.radio-button-container__content.visually-hidden(type='radio', name='radio-button-container__content', checked=checked || false)
            span.radio-button-container__indicator
            span.radio-button-container__description=text