.radio-button-container__filter {
    position: relative;

    font-family: 'Fire Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    color: rgba(31, 32, 65, 0.5);
}
.radio-button-container__indicator {
    position: absolute;

    width: 18px;
    height: 18px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
}
.radio-button-container__description {
    padding-left: 27px;
    padding-right: 20px;
}
.radio-button-container__filter input[type="radio"]:checked + .radio-button-container__indicator {
    border: 1px solid rgba(31, 32, 65, 0.25);
}
.radio-button-container__filter input[type="radio"]:checked + .radio-button-container__indicator::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    width: 12px;
    height: 12px;
    background: #b3d4fc;
    border-radius: 10px;
}
.visually-hidden:not(:focus):not(:active),
 input[type="checkbox"].visually-hidden,
 input[type="radio"].visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden; 
 }