mixin radio-button(text, nameGroup, checked)
    .radio-button-container.js-radio-button-container
        label.radio-button-container__filter
            input.radio-button-container__content.visually-hidden(type='radio', name='radio-button-'+nameGroup, checked=checked || false)
            span.radio-button-container__indicator
            span.radio-button-container__description=text