.field {
    border: none;
}
.field__legend {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    
    line-height: 22px;
    color: #9b9b9b;
    text-align: left;
}
.field__view {
    display: flex;
}
.field__min-max {
    display: flex;
    justify-content: space-between;
}
.field__thumbs-values {
    display: flex;
    justify-content: space-between;
}