.field {
  border: none;
  margin: 0;
  padding: 0;

  &__legend {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $Nobel;
    text-align: left;
  }

  &__view {
    display: flex;
    margin-top: 5px;
  }

  &__min-max {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__thumbs-values {
    display: flex;
    justify-content: space-between;
  }
}