@font-face {
    font-family: 'Fire Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/FiraSans/Regular/FiraSans-Regular.woff2') format('woff2');
    src: url('../../fonts/FiraSans/Regular/FiraSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Fire Sans';
    font-style: bold;
    font-weight: 700;
    src: url('../../fonts/FiraSans/Bold/FiraSans-Bold.woff2') format('woff2');
    src: url('../../fonts/FiraSans/Bold/FiraSans-Bold.woff') format('woff');
}