@font-face {
    font-family: 'Fire Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/../src/fonts/fira-sans/regular/fira-sans-regular.woff2') format('woff2');
    src: url('/../src/fonts/fira-sans/regular/fira-sans-regular.woff') format('woff');
}
@font-face {
    font-family: 'Fire Sans';
    font-style: bold;
    font-weight: 700;
    src: url('/../src/fonts/fira-sans/bold/fira-sans-bold.woff2') format('woff2');
    src: url('/../src/fonts/fira-sans/bold/fira-sans-bold.woff') format('woff');
}