@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
      font-family: $font-family;
      font-weight: $weight;
      font-style: $style;
      src: url('/../src/demo/fonts/fira-sans/#{$file-path}.woff2') format('woff2');
      src: url('/../src/demo/fonts/fira-sans/#{$file-path}.woff') format('woff');
  }
}

@include font-face('Fire Sans', 'regular/fira-sans-regular', 400, normal);

@include font-face('Fire Sans', 'bold/fira-sans-bold', 700, bold);