@import "../fonts/fonts.scss";
@import "src/slider/styles/slider.scss";
@import "src/demo/elements/radio-button/radio-button.scss";
@import "src/demo/elements/checkbox-button/checkbox-button.scss";
@import "src/demo/elements/input/input.scss";
@import "src/demo/components/fieldset/fieldset.scss";
@import "src/demo/components/configuration-panel/configuration-panel.scss";

html {
  background-color: white;
  color: black;
  font-family: "Fire Sans", Arial, sans-serif;
  font-size: medium;
}

.slider-container {
  &__wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  &__configuration-panel {
    width: 25%;
    min-width: 350px;
  }

  &__content {
    padding-top: 40px;
    padding-left: 20px;
    width: 35%;
    min-height: 420px;
    box-sizing: border-box;
  }

  &__slider-test {
    min-width: 300px;
    height: 100%;
  }
}

.slider-test {
  display: block;
  position: relative;
  user-select:none;
  width: 100%;
  height: 100%;
}