include ../components/slider-container/slider-container.pug

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="keywords" content="slider plugin")
        meta(name="description" content="Плагин для jQuery, который реализовывает функционал «бегунка» (также называемого слайдером) — специальный контрол, который позволяет перетягиванием задавать какое-то числовое значение.")
        title Document
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="./page/demo.scss")
        link(rel="shortcut icon" href="./page/images/favicon.ico" type="image/x-icon")
        link(rel='mask-icon' href="./page/images/favicon-safari.svg" color="blue")
    body
        block content
            +slider-container()
              .slider-test.js-slider-test(data-min='20', data-max='80')
            +slider-container()
              .slider-test.js-slider-test(data-thumbs-values='[25, 45, 65]', data-orientation='vertical', data-step='5', data-has-tooltips='false')
            +slider-container()
              .slider-test.js-slider-test(data-step='3', data-has-scale-values='false')
        block scripts
            script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
            script(src="../slider/slider.ts")
            script(src="./components/configuration-panel/configuration-panel.ts")
            script(src="./page/demo.ts")