mixin checkbox-button({text = 'текст'} = {text, checked})
    label.checkbox-button.js-checkbox-button
        input.checkbox-button__content.js-checkbox-button__content.visually-hidden(type='checkbox',
            name='checkbox-button__content', checked=checked)
        span.checkbox-button__indicator
        span.checkbox-button__description=text