.input {
  &__title {
    font: 18px/35px "Fire Sans", Arial, sans-serif;
    padding-right: 5px;
    color: $Nobel;
    text-align: left;
  }

  &__wrapper {
    display: flex;
    width: 90%;
    overflow: hidden;
    height: 35px;
    background: #fff;
  }

  &__value {
    color: $Nero;
    border: 1px solid #eee;
    border-radius: 2px;
    font: 16px "Fire Sans", Arial, sans-serif;
    padding-left: 5px;
    width: 50%;

    &:focus {
      border-color: $PaleCornflowerBlue;
    }
  }
}
