include ../../elements/radio-button/radio-button.pug
include ../../elements/checkbox-button/checkbox-button.pug

mixin slider-config()
    .slider-config
        .field-group-view
            h2.title-field-group Вид:
            .buttons-group
                +radio-button('Горизонтальный', 'view', 'checked')
                +radio-button('Вертикальный', 'view')
        .field-group-valuesMinMax
            h2.title-field-group Минимальное и максимальное значения слайдера:
            .input-container
                .input-item
                    .input-field
                        .label от
                        input.minMaxValue(type="text", value='0')
                .input-item
                    .input-field
                        .label до
                        input.minMaxValue(type="text", value='100')        
        .field-group-rangeOfValues
            h2.title-field-group Текущее состояние ползунков:
            ol.rangeOfValues-list
                li.rangeOfValues-item
                    input.input-rangeOfValues(type="text", value="0")
                li.rangeOfValues-item
                    input.input-rangeOfValues(type="text", value="100")
        .field-group-stepSize
            h2.title-field-group Размер шага:
            input.field-group-stepSize-container__content(type='text', value='1')
        .field-group-tooltip
            +checkbox-button('Наличие тултипа', 'checked')
    