include ../../elements/radio-button/radio-button.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/input/input.pug
include ../../components/fieldset/fieldset.pug

mixin configuration-panel()
    form.configuration.js-configuration
      .configuration__wrapper
        .configuration__field
            +fieldset('Вид:', 'view')
                +radio-button({
                  value: 'Горизонтальный',
                  name: 'view'
                })
                +radio-button({
                  value: 'Вертикальный',
                  name: 'view'
                  })
        .configuration__field
            +fieldset('min и max значения слайдера:', 'min-max')
                +input({
                  title: 'от:',
                  name: 'min'
                  })
                +input({
                  title:'до:',
                  name: 'max'
                })
        .configuration__field
          .configuration__field-count-thumb.js-configuration__field-count-thumb
            +input({
              title: 'Количество:',
              name: 'count'
              })
        .configuration__field
            +fieldset('Знечения ползунков:', 'thumbs-values')
                ol.configuration__thumbs-current-value-list.js-configuration__thumbs-current-value-list
        .configuration__field
          .configuration__field-step-size.js-configuration__field-step-size
            +input({
              title: 'Шаг:',
              name: 'step',
              step: 'any'
              })
        .configuration__field
            +checkbox-button({
              value: 'Наличие тултипа',
              name: 'tooltip',
              })
        .configuration__field
            +checkbox-button({
              value: 'Наличие шкалы значений',
              name: 'scale-of-values',
              })
        input.configuration__update(type='submit')