@mixin thumbs-value {
  color: $Nero;
  border: 1px solid #eee;
  border-radius: 2px;
  vertical-align: baseline;
  outline: none;
  font: 16px/30px "Fire Sans", Arial, sans-serif;
  margin-top: 5px;
  padding-left: 5px;

  &:focus {
    border-color: $PaleCornflowerBlue;
  }
}
.configuration {
  &__wrapper {
    min-width: 320px;
    width: 100%;
    min-height: 420px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__field {
    margin: 10px 10px;
    margin-bottom: 0;
  }

  &__field-step-size,
  &__field-count-thumb {
    width: 50%;
  }

  &__thumbs-current-value-list {
    width: 20%;
    margin: 0;
    padding-left: 30px;
  }

  &__update {
    visibility: hidden;
  }

  &__thumbs-value {
    width: 85%;
    @include thumbs-value();
  }

  &__thumbs-set {
    display: flex;
    justify-content: space-between;
  }

  &__thumbs-value-from {
    width: 40%;
    @include thumbs-value();
  }

  &__thumbs-value-to {
    width: 40%;
    @include thumbs-value();
  }
}