include ../../elements/radio-button/radio-button.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/input/input.pug
include ../../components/fieldset/fieldset.pug

mixin configuration-panel()
    form.configuration.js-configuration
      .configuration__wrapper
        .configuration__field
            +fieldset('Вид:', 'view')
                +radio-button({
                  text: 'Горизонтальный',
                  groupName: 'view',
                  checked: 'checked'
                })
                +radio-button({
                  text: 'Вертикальный',
                  groupName: 'view'
                  })
        .configuration__field
            +fieldset('min и max значения слайдера:', 'min-max')
                +input({
                  text: 'от:',
                  value: '0',
                  width: '50',
                  type: 'number',
                  })
                +input({
                  text:'до:',
                  value: '100',
                  width: '50',
                  type: 'number',
                })
        .configuration__field
          .configuration__field-count-thumb.js-configuration__field-count-thumb
            +input({
              text: 'Количество ползунков:',
              value: '4',
              width: '15',
              type: 'number',
              })
        .configuration__field
            +fieldset('Знечения ползунков:', 'thumbs-values')
                ol.configuration__thumbs-current-value-list.js-configuration__thumbs-current-value-list
        .configuration__field
          .configuration__field-step-size.js-configuration__field-step-size
            +input({
              text: 'Размер шага:',
              value: '2',
              width: '12',
              type: 'number',
              step: 'any'
              })
        .configuration__field
            +checkbox-button({
              text: 'Наличие тултипа',
              checked:'checked',
              elementName: 'tooltip',
              })
        .configuration__field
            +checkbox-button({
              text: 'Наличие шкалы значений',
              checked:'checked',
              elementName: 'scale-of-values',
              })
        input.configuration__update(type='submit')