.input-min-max {
  &__wrapper {
    display: flex;
    width: 40%;
    overflow: hidden;
    height: 35px;
  }

  &__description {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 30px;
    padding-right: 5px;
    line-height: 35px;
    color: #9b9b9b;
    text-align: left;
  }

  &__value {
    width: 100%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;

    &:focus{
      border-color: #b3d4fc;
    }
  }
}

.input-amount-thumb {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    overflow: hidden;
    height: 35px;
    background: #fff;
  }

  &__description {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #9b9b9b;
    text-align: left;
  }

  &__value {
    width: 15%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;

    &:focus {
      border-color: #b3d4fc;
    }
  }
}
.input-step-size {
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    overflow: hidden;
    height: 35px;
    background: #fff;
  }

  &__description {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9b9b9b;
    text-align: left;
    padding-right: 15px;
  }

  &__description {
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #9b9b9b;
    text-align: left;
    padding-right: 15px;
  }

  &__value {
    width: 10%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;
    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-left: 5px;

    &:focus {
      border-color: #b3d4fc;
    }
  }
}