doctype html
html
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet", href="../src/index.scss")
    body
      div
        a(href="../src/pages/demo/demo.pug") К демонстрации