doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="keywords" content="demo page")
        meta(name="description" content="Страница для перехода к демонстрации.")
        title Document
        link(rel="stylesheet", href="../src/index.scss")
        link(rel="shortcut icon" href="../src/pages/demo/images/favicon.ico" type="image/x-icon")
        link(rel='mask-icon' href="../src/pages/demo/images/favicon-safari.svg" color="blue")
    body
      div.content
        a.content__link(href="../src/pages/demo/demo.pug") К демонстрации