include ../../elements/radio-button/radio-button.pug
include ../../elements/checkbox-button/checkbox-button.pug
include ../../elements/input/input.pug
include ../../components/fieldset/fieldset.pug

mixin configuration-panel()
    form.configuration.js-configuration
        .configuration__field
            +fieldset("Вид:", "view")
                +radio-button("Горизонтальный", "view", "checked")
                +radio-button("Вертикальный", "view")
        .configuration__field
            +fieldset("min и max значения слайдера:", "min-max")
                +input("от:", "0", "min-max")
                +input("до:", "100", "min-max")
        .configuration__field
            +input("Количество ползунков:", "4", "amount-thumb")
        .configuration__field
            +fieldset("Знечения ползунков:", "thumbs-values")
                ol.configuration__thumbs-current-value-list.js-configuration__thumbs-current-value-list
                ol.configuration__thumbs-interval-value-list.js-configuration__thumbs-interval-value-list
        .configuration__field
            +input("Размер шага:", "2", "step-size")
        .configuration__field
            +checkbox-button("Наличие тултипа", "checked")
        input.configuration__update(type="submit")