.configuration {
    min-width: 320px;
    width: 25%;
    min-height: 420px;
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.configuration__thumbs-current-value-list {
    width: 35%;
}
.configuration__thumbs-interval-value-list {
    width: 65%;
}
.configuration__update {
    visibility: hidden;
}
.configuration__thumbs-value {
    width: 45%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;

    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.configuration__thumbs-value:focus {
    border-color: #b3d4fc;
}
.configuration__thumbs-set {
    display: flex;
    justify-content: space-between;
}
.configuration__thumbs-value-from {
    width: 40%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;

    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.configuration__thumbs-value-from:focus {
    border-color: #b3d4fc;
}
.configuration__thumbs-value-to {
    width: 40%;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 2px;
    vertical-align: baseline;
    outline: none;

    font-family: "Fire Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.configuration__thumbs-value-to:focus {
    border-color: #b3d4fc;
}