.field {
  border: none;
  margin: 0;
  padding: 0;

  &__legend {
    font: 18px/22px "Fire Sans", Arial, sans-serif;
    color: $Nobel;
    text-align: left;
  }

  &__view {
    display: flex;
    margin-top: 5px;
  }

  &__min-max {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }

  &__thumbs-values {
    display: flex;
    justify-content: space-between;
  }
}